@page
@model Mini_Theatre.Pages._404Model
@{
    ViewData["Title"] = "404";
}


<section class="section-long">
    <div class="container">
        <div class="status-entity">
            <div class="entity-icon">4<span class="text-theme">0</span>4</div>
            <h4 class="entity-title">Sorry!</h4>
            <p class="entity-text">Không tìm thấy trang này</p>
            <div class="entity-actions">
                <a class="btn btn-theme" asp-page="/Index">Về trang chủ</a>
            </div>
        </div>
    </div>
</section>