@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<section class="section-long">
    <div class="container">
        <div class="status-entity">
            <div class="entity-icon"><span class="text-theme">Er</span>ror</div>
            <h4 class="entity-title">Có gì đó sai sai D:</h4>
            <div class="entity-actions">
                <a class="btn btn-theme" asp-page="/Index">Về trang chủ</a>
            </div>
        </div>
    </div>
</section>