@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-5 mb-5">
    <div class="section-line">
        <div class="section-head">
            <h2 class="section-title text-uppercase">@ViewData["Title"]</h2>
        </div>
        <div class="section-description">
            <p class="lead">Quyền riêng tư của bạn rất quan trọng đối với chúng tôi. Chính sách bảo mật này giải thích cách chúng tôi xử lý thông tin cá nhân của bạn.</p>

            <h6 class="text-dark">Giá Vé</h6>
            <p>Chúng tôi cung cấp hai loại ghế:</p>
            <ul>
                <li>Ghế Thường: 60,000 VND</li>
                <li>Ghế VIP: 90,000 VND</li>
            </ul>

            <h6 class="text-dark">Thông Tin Cá Nhân</h6>
            <p>Chúng tôi thu thập thông tin cá nhân để cung cấp các dịch vụ tốt hơn cho tất cả người dùng của chúng tôi. Chúng tôi thu thập thông tin theo các cách sau:</p>
            <ul>
                <li>Thông tin bạn cung cấp cho chúng tôi. Ví dụ, nhiều dịch vụ của chúng tôi yêu cầu bạn đăng ký tài khoản. Khi bạn làm vậy, chúng tôi sẽ yêu cầu thông tin cá nhân như tên, địa chỉ email, số điện thoại hoặc thẻ tín dụng để lưu trữ cùng với tài khoản của bạn.</li>
                <li>Thông tin chúng tôi nhận được từ việc bạn sử dụng các dịch vụ của chúng tôi. Chúng tôi có thể thu thập thông tin về các dịch vụ mà bạn sử dụng và cách bạn sử dụng chúng.</li>
            </ul>

            <h6 class="text-dark">Cách Chúng Tôi Sử Dụng Thông Tin Chúng Tôi Thu Thập</h6>
            <p>Chúng tôi sử dụng thông tin chúng tôi thu thập từ tất cả các dịch vụ của mình để cung cấp, duy trì, bảo vệ và cải thiện chúng, để phát triển các dịch vụ mới và để bảo vệ người dùng của chúng tôi.</p>

            <h6 class="text-dark">Thông Tin Chúng Tôi Chia Sẻ</h6>
            <p>Chúng tôi không chia sẻ thông tin cá nhân với các công ty, tổ chức và cá nhân bên ngoài trừ khi thuộc một trong các trường hợp sau:</p>
            <ul>
                <li>Với sự đồng ý của bạn.</li>
                <li>Để xử lý bên ngoài.</li>
                <li>Vì lý do pháp lý.</li>
            </ul>

            <h6 class="text-dark">Bảo Mật</h6>
            <p>Chúng tôi làm việc chăm chỉ để bảo vệ người dùng của mình khỏi việc truy cập trái phép hoặc việc thay đổi, tiết lộ hoặc phá hủy thông tin trái phép mà chúng tôi nắm giữ.</p>

            <h6 class="text-dark">Thay Đổi</h6>
            <p>Chính sách bảo mật của chúng tôi có thể thay đổi theo thời gian. Chúng tôi sẽ không giảm quyền lợi của bạn theo Chính Sách Bảo Mật này mà không có sự đồng ý rõ ràng của bạn.</p>
        </div>
        <div class="section-bottom">
            <div class="row">
                <div class="mr-auto col-auto">
                    <div class="entity-links">
                        <div class="entity-list-title">Chia sẻ:</div>
                        <a class="content-link entity-share-link" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="content-link entity-share-link" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="content-link entity-share-link" href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a class="content-link entity-share-link" href="#"><i class="fab fa-pinterest-p"></i></a>
                        <a class="content-link entity-share-link" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="entity-links">
                        <div class="entity-list-title">Thẻ:</div>
                        <a class="content-link" href="https://facebook.com/letoangt.tt">letoangt</a>,&nbsp;
                        <a class="content-link" href="https://facebook.com/bae.haf">lebaha</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
