@page
@model Mini_Theatre.Pages.ThankYouModel
@{
    ViewData["Title"] = "Thank You <3";
}

<section class="section-long">
    <div class="container">
        <div class="status-entity">
            <div class="entity-icon">Thank <span class="text-theme">You</span></div>
            <h4 class="entity-title">:D</h4>
            <p class="entity-text">Cảm ơn bạn đã tin tưởng chúng tôi!</p>
            <div class="entity-actions">
                <a class="btn btn-theme" asp-page="/Index">Về trang chủ</a>
            </div>
        </div>
    </div>
</section>